.nueva_compra_container {
    .images {
        .images_show {
            width: 50vw;
            height: 50vw;
            background: #0000;
            border-radius: 15px;
            overflow: hidden;
            .images_show_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .images_show_dif {
                // position: relative;
                width: 50vw;
                height: 50vw;
                object-fit: cover;
                background: #0009;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .images_change {
            background-color: #080;
            width: 20vw;
            text-align: center;
            padding: 5px;
            margin-top: 8px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background-color: #0a0;
            }
        }
    }
}