.itemListContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .itemList {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15px;
        justify-content: space-around;
        .compra {
            .elementContainer {
                margin-bottom: 20px;
                padding: 50px 15px;
                .card {
                    width: 300px;
                    border-radius: 20px;
                    background: var(--sn);
                    padding: 5px;
                    overflow: hidden;
                    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    color: #000;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .fecha {
                        position: relative;
                        display: flex;
                        z-index: 1;
                        top: -3px;
                        left: 5px;
                    }
                    .changeBgControl {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        .changeBgButton {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: var(--dh);
                            color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: background 0.5s;
                            &:hover {
                                background: var(--jh);
                            }
                        }
                    }
                    .topSection {
                        height: 200px;
                        border-radius: 15px;
                        display: flex;
                        flex-direction: column;
                        background: var(--cy);
                        position: relative;
                        margin-bottom: 10px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 30px;
                            left: 0;
                            background: #0000;
                            height: 15px;
                            width: 15px;
                            border-top-left-radius: 15px;
                            box-shadow: -5px -5px 0 2px var(--sn);
                        }
                        .border {
                            border-bottom-right-radius: 10px;
                            height: 30px;
                            width: 130px;
                            background: var(--sn);
                            position: relative;
                            transform: skew(-40deg);
                            box-shadow: -10px -10px 0 0 var(--sn);
                            &::before {
                                content: "";
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                top: 0;
                                right: -15px;
                                background: #0000;
                                border-top-left-radius: 10px;
                                box-shadow: -5px -5px 0 2px var(--sn);
                            }
                        }
                        .imageCount {
                            display: flex;
                            justify-content: end;
                            align-items: end;
                            height: 100%;
                            padding: 5px;
                            span {
                                font-size: 0.9rem;
                                padding: 5px 8px;
                                background: #0008;
                                color: #fff;
                                border-radius: 10px;
                            }
                        }
                    }
                    .bottomSection {
                        padding: 10px 5px;
                        .title {
                            display: block;
                            font-size: 19px;
                            font-weight: 1000;
                            text-align: center;
                            letter-spacing: 1.5px;
                            a {
                                color: var(--dh);
                                &:hover {
                                    color: var(--jh);
                                }
                            }
                        }
                        .descripion {
                            display: block;
                            font-size: 0.7rem;
                            text-align: end;
                            width: 100%;
                            padding: 0 15px;
                        }
                        .sub_title {
                            display: flex;
                            width: 100%;
                            font-size: 14px;
                            text-align: start;
                            font-weight: 800;
                            padding: 0 15px;
                            margin: 0;
                        }
                        .row {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid #000;
                            width: 100%;
                            .item {
                                width: auto;
                                text-align: center;
                                padding: 0 5px;
                                color: #000;
                                .bigText {
                                    font-size: 13px;
                                    display: block;
                                }
                                .regularText {
                                    font-size: 11px;
                                }
                            }
                            &:nth-child(2) {
                                border-left: 1px solid #ffffff20;
                                border-right: 1px solid #ffffff20;
                            }
                            a {
                                color: var(--dh);
                                font-weight: bold;
                                &:hover {
                                    color: var(--jh);
                                }
                            }
                        }
                        .aditional_info {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            height: auto;
                            padding: 0;
                            margin: 0;
                            overflow: hidden;
                            &.showInfo {
                                height: auto;
                                padding: 0;
                                margin: 0;
                                overflow: hidden;
                                animation: showInfo 0.7s;
                            }
                            &.hiddeInfo {
                                height: 0px;
                                padding: 0;
                                margin: 0;
                                overflow: hidden;
                                animation: hiddeInfo 0.7s;
                            }
                        }
                    }
                  }
            }
        }
    }
}

@keyframes showInfo {
    from {
        height: 0px;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    to {
        height: 150px;
    }
}

@keyframes hiddeInfo {
    from {
        height: 150px;
    }
    to {
        height: 0px;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}