@import "../../../../static/css/response.scss";

.compraDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 15px;
    margin-bottom: 35px;
    .accionesContainer {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: start;
        .actionDiv {
            padding: 5px 10px;
            .actionIcon {
                svg {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
            }
        }
    }
    .imagesContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        @include md {
            width: 50%;
        }
        .imageDiv {
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: end;
            align-items: end;
            border-radius: 30px;
            .imagesCounter {
                padding: 15px;
                .counter {
                    background: #000a;
                    color: white;
                    padding: 5px 15px;
                    border-radius: 7px;

                }
            }
        }
        .imagesButtonsContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .buttons {
                width: 310px;
                display: flex;
                justify-content: space-between;
                .imageButton {
                    width: 45px;
                    height: 45px;
                    background-color: var(--cy);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 50%;
                    &:hover {
                        background-color: var(--mm);
                        color: #000;
                    }
                }
            }
        }
    }
    .generalesContainer {
        width: 100%;
        @include md {
            width: 50%;
        }
        .nombreCompra {
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            color: var(--sn);
            font-weight: bold;
        }
        .fechaCompra {
            width: 100%;
            text-align: end;
            font-size: 0.9em;
            padding: 0 15px;
            // border-bottom: 1px solid #888;
        }
        .descripcionCompra {
            width: 100%;
            text-align: start;
            font-size: 1em;
            margin: 0;
            padding: 0 15px;
            padding-bottom: 3px;
            border-bottom: 1px solid #888;
        }
        .limitePago {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 0.9rem;
            margin: 0;
            padding: 3px 15px;
            border-bottom: 1px solid #888;
            .fechaLimiteLabel {
                margin-right: 15px;
            }
            .fechaLimite {
                font-weight: bold;
            }
        }
        .totalContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.2em;
            margin: 0;
            padding: 3px 15px;
            border-bottom: 1px solid #888;
            .totalLabel {
                margin-right: 15px;
            }
            .total {
                font-weight: bold;
            }
        }
        .origenContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 3px 15px;
            border-bottom: 1px solid #888;
            .origenLabel {
                margin-right: 15px;
            }
            .origen {
                font-weight: bold;
            }
            a {
                color: var(--ny);
                font-weight: bold;
                &:hover {
                    color: var(--jh);
                }
            }
        }
    }
    .detailViewContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        .detailViewButton {
            width: 100%;
            padding: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            border: 1px solid #888;
            cursor: pointer;
            &:hover {
                background-color: var(--mn);
                color: #000;
            }
            &.detailViewButtonActive {
                background-color: var(--ty);
                color: white;
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
    .articulosContainer {
        width: 100%;
        margin-top: 15px;
        .articulosHeader {
            width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }
    }
    .cargosContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;
        .cargoViewContainer {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 15px;
            .cargoViewButton {
                width: 100%;
                padding: 3px;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                border: 1px solid #888;
                cursor: pointer;
                &:hover {
                    background-color: var(--mn);
                    color: #000;
                }
                &.cargoViewButtonActive {
                    background-color: var(--ty);
                    color: white;
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
    .pagosContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;
        .pagoViewContainer {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 15px;
            .pagoViewButton {
                width: 100%;
                padding: 3px;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                border: 1px solid #888;
                cursor: pointer;
                &:hover {
                    background-color: var(--mn);
                    color: #000;
                }
                &.pagoViewButtonActive {
                    background-color: var(--ty);
                    color: white;
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
    .tableContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        margin-top: 15px;
        .tableDiv {
            // overflow-x: scroll;
            width: 100%;
            .table {
                width: 100%;
                thead {
                    tr {
                        th {
                            border: 1px solid #888;
                            padding: 5px 13px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            border: 1px solid #888;
                            padding: 5px 15px;
                            white-space: nowrap;
                            font-size: 0.9rem;
                            .comprobante {
                                font-weight: bold;
                                cursor: pointer;
                                color: var(--mn);
                            }
                        }
                        &.par {
                            background-color: #888;
                            td {
                                border: 1px solid #000;
                                color: #000;
                                .comprobante {
                                    color: var(--dh);
                                }
                            }
                        }
                        &:hover {
                            background-color: var(--my-primary);
                            td {
                                color: white;
                                .comprobante {
                                    color: var(--jh);
                                }
                                &:hover {
                                    background-color: white;
                                    color: var(--my-primary);
                                    .comprobante {
                                        color: var(--cy);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .agregarCargoModal, .agregarPagoModal {
        width: 100%;
        .acTitle {
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            color: var(--sn);
            font-weight: bold;
        }
        .acForm {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .acFormRow {
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: around;
                margin-bottom: 5px;
                @include md {
                    width: 30%;
                }
                .acInputElement {
                    padding: 0 15px;
                    margin-bottom: 20px;
                    font-size: 12px;
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    flex-wrap: wrap;
                    .acLabel {
                        width: 100%;
                        text-align: start;
                        font-size: 1em;
                        margin: 0;
                    }
                    .acInput {
                        width: 100%;
                        padding: 5px;
                        font-size: 1em;
                        border: 1px solid #888;
                        border-radius: 5px;
                    }
                }
            }
            .acFormActions {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 20px 0;
                .acButton {
                    width: 90%;
                    padding: 5px;
                    font-size: 1em;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    margin-bottom: 5px;
                    border-radius: 7px;
                    @include md {
                        width: 40%;
                    }
                    &.acButtonCancel {
                        background-color: var(--cy);
                        color: #000;
                        &:hover {
                            background-color: var(--mm);
                            color: #000;
                        }
                    }
                    &.acButtonSave {
                        background-color: var(--mn);
                        color: #000;
                        &:hover {
                            background-color: var(--jy);
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}