.mainLoaded {
    .nav {
        display: flex;
        width: 100vw;
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        padding: 10px 20px;
        position: relative;
        &::-webkit-scrollbar {
            width: 3px !important;
            height: 3px !important;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--my-minor);
            border-radius: 35px !important;
            &:hover {
                background: #888;
            }
            &:active {
                background: var(--my-primary);
            }
        }
        .navBar {
            display: flex;
            .navElement {
                min-width: 150px;
                width: auto;
                padding: 6px 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                margin: 5px 10px;
                border-radius: 15px;
                border: solid 1px var(--my-minor);
                &:hover {
                    background-color: var(--my-minor);
                    color: var(--my-major);
                }
                .icon {
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}