@import "./response.scss";

.my_input {
    // sm, md, lg, xl, xxl
    @include sm {
        width: 100%;
    }
    @include md {
        width: 50%;
    }
    @include lg {
        width: 33.33%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin-top: 15px;

    .input_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include sm {
            width: 80%;
        }

        label {
            width: 100%;
            text-align: left;
        }
        input {
            width: 100%;
            padding: 5px 12px;
            border: none;
            border-radius: 7px;
            color: #000;
            box-shadow: 0 5px 10px -5px var(--my-minor);
            &:focus {
                outline: none;
                box-shadow: 0 0 5px 1px var(--my-minor);
            }
            &[type="submit"] {
                background-color: #009;
                color: #fff;
                cursor: pointer;
                box-shadow: none;
                padding: 10px;
                &:hover {
                    background-color: #007;
                    box-shadow: none;
                }
            }
            &.disabled {
                background-color: #0000;
                border: 1px solid #888;
                color: #888;
                cursor: not-allowed;
                &:hover {
                    background-color: #0000;
                    border: 1px solid #888;
                    color: #888;
                    cursor: not-allowed;
                }
            }
        }
    }


}