:root {
    --my-bg-dark: #000;
    --my-success: #198754;
    --my-primary: #0a548b;
    --my-orange: #fd7e14;
    --my-danger: #dc3545;
    --my-yellow: #ffc107;
    --my-purple: #800080;
    --my-secondary: #6c757d;
    --my-dark: #212529;
    --my-light: #f8f9fa;
    --my-black: #212529;
    --my-white: #f8f9fa;

    --tw: #fc5d9d;
    --ny: #5bc2e7;
    --jy: #c5d97a;
    --mm: #ff8da1;
    --sn: #9b7dda;
    --jh: #ffc56e;
    --mn: #6dcdb8;
    --dh: #ffffff;
    --cy: #ee2737;
    --ty: #005eb8;
}
