.hamburger {
    cursor: pointer;
    input {
        display: none;
    }
    svg {
        /* The size of the SVG defines the overall size */
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        .line {
            fill: none;
            stroke: var(--tw);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3;
            /* Define the transition for transforming the Stroke */
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .line_top_bottom {
            stroke-dasharray: 12 63;
        }
    }
    input:checked + svg {
        transform: rotate(-45deg);
    }
      
    input:checked + svg .line_top_bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }
}

.binButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
    .binBottom {
        width: 15px;
        z-index: 2;
    }
    .binTop {
        width: 17px;
        transform-origin: right;
        transition-duration: 0.3s;
        z-index: 2;
    }
    .garbage {
        position: absolute;
        width: 14px;
        height: auto;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
    }
    &:hover {
        background-color: rgb(255, 0, 0);
        .binTop {
            transform: rotate(45deg);
        }
        .garbage {
            animation: throw 0.4s linear;
        }
    }
    &:active {
        transform: scale(0.9);
    }
}

@keyframes throw {
    from {
    transform: translate(-400%, -700%);
    opacity: 0;
    }
    to {
    transform: translate(0%, 0%);
    opacity: 1;
    }
}
  